<div>
  <div>
    <h1>
      User details
    </h1>
    <p>
    Email: <%= @user.email %>
    </p>
    
    <p>
    Joined on: <%= @user.created_at.strftime("%b %d, %Y")%>
    </p>

    <a href="/">Reviews:</a> <%= @user.reviews.count%>
  </div>
</div>
